.header-div{
  width:100%;
  height:120px;
  background-color:#ffff;
 display:flex;
   margin-top:20px;
   
 }
 .head-h1{
 color:#0084ff;
 margin-left: 50px
 }
 .head-h1 strong {
   display: block;
   font-size: 75%;
   opacity: 0.75;
   margin:0;
   font-weight:500px;
  font-family: 'Raleway';
   color:black
     
 }
 
 .head-selection{
   border:0;
   margin:30px;
   margin-top:42px;
   color:#000;
   font-size:17px;
   margin-left:60px
   
 }
 
 .article-div{
 width:85%;
 margin:10px auto;
  padding-top:10px;
 }
 .article-head{
   font-weight: 900;
   font-size:45px;
 }
 
 .filter-text{
     font-weight: 600;
   font-size:20px;
   padding-left:8px;
   margin-left:8px;
   
 }
 .filter{
 color:#0088ff;
 font-size:25px;
 }
 
 .button-class{
   margin-top:10px;
   
 }
 .art-btn{
   display:inline-block;
   padding:8px 14px;
   width:auto;
   color:#0088ff;
   border-radius:20px;
   border: 1px solid #0088ff;
   margin:5px;
   cursor:pointer;
   font-size:20px
   
 }
 .art-btn:active,
 .art-btn:focus {
   background-color: #0088ff;
   color:white
 }
 .card-parent{
   width:70%;
   margin:0 auto;
   margin-top:60px;
   text-align: center;
   
 }
 .card-div{
  width:31%;
    border: 1px solid black;
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:white;
    display:inline-block;
    margin:10px;
   
  }
 .card-image{
  width:100%;
   height:240px;
    border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }
 .card-heading{
 padding:8px 24px;
  padding-bottom:0px;
  text-align:left;
   font-weight:600;
   font-size:25px;
   
 }
 .anchor-tag{
   text-decoration:none;
   padding-top:0px;
   padding: 24px;
   font-size:18px;
   padding-right:10px;
   color:#0088ff;
   padding-bottom:0px;
 }
 .desc{
   padding:8px 24px;
   font-size:16px;
   font-weight:400;
   line-height:1.43;
   color:rgba(0,0,0,.6);
   margin:4px 0
    
 }
 
 .footer{
 width:100%;
   height:150px;
   background-color:#172146;
 
   margin-top:30px;
 }

 .button{
  width: auto;
  font-size: 0.75em;
  padding: 0.5em 2em;
  margin: 0px 1em 0px 0px;
  box-shadow: none;
  word-wrap: break-word;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  padding: 12px 32px;
  margin-right: 16px;
  color: #fff;
  outline: none;
  font-family: Raleway,sans-serif;
  font-size: .9em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .03em;
  background: #0084ff;
  background: -webkit-linear-gradient(269deg,#0048ff,#0096ff);
  background: -webkit-linear-gradient(181deg,#0048ff,#0096ff);
  background: -o-linear-gradient(181deg,#0048ff,#0096ff);
  background: linear-gradient(269deg,#0048ff,#0096ff);
 }
 .btn-perant{
  width: 100%;
  display:'flex';
  justify-content:"flex-end";
  margin-right: 30px;
 }
 .contant{
  min-width: 23em;
  opacity: .6;
  font-family: Raleway,sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: .4px;
  text-align: left;
  color: rgba(0,0,0,.6);
  margin-top: 0.5em;
 }